<!DOCTYPE html>
<html>
<head>
  <title><%= @base_title %><%= @title && " – #{@title}"%> by Theodore Pak</title>
  
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
  <meta name="description" content="Theodore Pak's flashcards from<%= @title && " #{@title.sub(/::.*/, '')}"%> classes at the Icahn School of Medicine at Mount Sinai.  Synced from Anki flashcards using anki-slideshow." />
  <meta name="author" content="Theodore Pak" />
  <meta name="google-site-verification" content="7_vwxHkdKzZxQnkeOPgPGD_rIFF_erWkwoGfXFTyrBM" />
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  
  <link rel="stylesheet" href="style.css" />
  <% if File.exist? 'public/custom.css' %>
  <link rel="stylesheet" href="custom.css" />
  <% end %>
  
  <script src="jquery.min.js" type="text/javascript"></script>
  <script src="jquery.scrollto.min.js" type="text/javascript"></script>
  <script src="jgestures.min.js" type="text/javascript"></script>
</head>
<body>
  <%= yield %>
  
  <% if File.exist? 'public/analytics.js' %>
  <script type="text/javascript" src="analytics.js"></script>
  <% end %>
</body>
</html>