<h1 style="margin-top: 0px; text-transform: lowercase">Welcome.</h1>

<p>This website contains all of my <a href="http://ankisrs.net" target="_blank">Anki flashcards</a> from the first two years at the <a href="http://icahn.mssm.edu" target="_blank">Icahn School of Medicine</a>.</p>

<p>Use the controls above to change decks, flip and deal cards, and control the timer.  Hovering over a card or the controls automatically pauses the timer.</p>

<% if back %>

<hr />

<p>Currently there are over 9000 flashcards and I sync my current decks regularly.  We'll begin with a random deck, or you can choose one from the deck list above.</p>

<% end %>