html, body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, "Liberation Sans", Arial, sans-serif;
  font-weight: 400;
  height: 100%;
  background: #eee;
}

#container {
  max-width: 500px;
  min-height: 100%;
  margin: 0 auto;
  position: relative;
  background-color: #fff;
  cursor: pointer;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: box-shadow 200ms linear;
  -moz-transition: box-shadow 200ms linear;
  -o-transition: box-shadow 200ms linear;
}
.hover #container {
  box-shadow: 0px 0px 25px 7px rgba(0, 0, 0, 0.4);
}

.cloze {
  color: blue;
  font-weight: bold;
}

#card {
  padding-top: 76px;
  text-align: center;
  cursor: pointer;
  position: relative;
  min-height: 20px;
  z-index: 10;
}

#card .front, #card .back {
  display: none;
  position: absolute;
  left: 1em;
  right: 1em;
}

#card .solid {
  position: relative;
  left: 0;
  right: 0;
  margin: 0 1em;
  padding-bottom: 40px;
}

#switcher {
  text-align: center;
  font-weight: bold;
  cursor: default;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 60px;
  z-index: 100;
}

#switcher .inner {
  padding: 20px 0;
  background: white;
  max-width: 500px;
  border-bottom: 2px solid #ccc;
  margin: 0 auto;
}

#paused { 
  font-weight: normal;
  font-family: "Helvetica Neue", Helvetica, "Liberation Sans", Arial, sans-serif;
  font-size: 0.7em;
  opacity: 0; 
  color: #777;
  -webkit-transition: opacity 200ms linear;
  -moz-transition: opacity 200ms linear;
  -o-transition: opacity 200ms linear;
}
.hover #paused { opacity: 1; }

select, #next {
  font-size: 16px;
}

#decks {
  max-width: 180px;
}

#card div img {
  max-width: 100%;
}

#timer {
  margin: -5px 0;
  vertical-align: middle;
}

#next-card { display: none; }

hr { 
  border-top: 2px solid #ccc;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

#footer {
  text-align: center;
  cursor: default;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: 40px;
  z-index: 100;
  color: #777;
  font-size: 70%;
}

#footer .inner {
  max-width: 500px;
  height: 30px;
  padding-top: 10px;
  margin: 0 auto;
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, 
    rgba(255,255,255,1) 37%, rgba(255,255,255,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, 
    color-stop(0%,rgba(255,255,255,0)), color-stop(37%,rgba(255,255,255,1)), 
    color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, 
    rgba(255,255,255,1) 37%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 37%, 
    rgba(255,255,255,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 37%,
    rgba(255,255,255,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 37%, 
    rgba(255,255,255,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', 
    endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

#footer a:link, #footer a:visited { color: #444; }

#footer a:hover { color: #555; }

#seo-decklist {
  display: none;
}

.lecture-number {
  font-variant: small-caps;
  margin-top: 1em;
  font-size: 80%;
  opacity: 0.2;
}

/* Responsive CSS for wide screens: bump the font size a little for comfort */
@media all and (min-width:900px) {
  html, body { font-size: 120%; }
  #container, #switcher .inner, #footer .inner { max-width: 700px; }
  #switcher { font-size: 80%; }
  select, #next { font-size: 16px; }
}